[SddmGreeterTheme]
Name=Lliurex

Description=Lliurex classroom theme
Type=sddm-theme
Author=Gabriel Retana, Enrique Medina Gremaldos
Copyright=(c) 2019, Gabriel Retana, Enrique Medina Gremaldos
License=GPL
Version=1.0
MainScript=../lliurex-desktop/Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=lliurex-classroom
Theme-API=2.0


