Source: lliurex-sddm-theme
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), python3-poinstaller, cmake, extra-cmake-modules, qtbase5-dev, qtdeclarative5-dev
Standards-Version: 4.1.2

Package: lliurex-sddm-theme
Architecture: all
Section: x11
Depends: sddm, ${shlibs:Depends}, ${misc:Depends}
Description: LliureX sddm theme
 LliureX 19+1 custom sddm theme
