Source: lliurex-sddm-theme
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), python3-poinstaller, llxsrchelper
Standards-Version: 4.1.2

Package: lliurex-desktop-sddm-theme
Architecture: all
Section: x11
Depends: sddm
Conflicts: lliurex-desktop-defaults (<<1.7.0.2)
Description: LliureX desktop sddm theme
 LliureX 19 custom sddm theme

Package: lliurex-classroom-sddm-theme
Architecture: all
Section: x11
Depends: lliurex-desktop-sddm-theme
Conflicts: lliurex-desktop-defaults (<<1.7.0.2)
Description: LliureX classroom sddm theme
 LliureX 19 Classroom custom sddm theme

Package: lliurex-server-sddm-theme
Architecture: all
Section: x11
Depdends: lliurex-classroom-sddm-theme
Conflicts: lliurex-desktop-defaults (<<1.7.0.2)
Description: LliureX server sddm theme
 LliureX 19 Server custom sddm theme